

body {
    display: flex ;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    /* min-height: 100vh; */
} 

  img {
    width: 300px ;
    border-radius: 150px;
  } 

  
  
  *{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
  }

.bkgd-video {
 

}

.video-container {
  height:0;
  z-index: -100;
  background-size: cover;
  /* display: flex;
  justify-content: center; */
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}



  /* nav bar */
  
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: transparent;
    padding: 30px;
   } 
   
   .nav-header {
  
    padding: 30px;
   }
  
  
   .links{
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    width: 30%;
   
}

.burger {
  padding: 40px;
  color:white;
}

  h4 {
    color:white;
    letter-spacing: 3px;
    text-transform: uppercase ;
    padding: 20px;
  }
  

 .links a {
  padding: 30px;
   text-decoration: none;
   color: white;
   letter-spacing: 3px;
   text-transform: uppercase ;
   font-weight: 500;
 }

 a:hover {
  transform: scale(1.1);
  transition: 0.5s;
  
}

 .links li{

  list-style: none;
 }

  li:hover {
     transform: scale(1.1);
     transition: 0.5s;
 }

.burger div{
    width: 25px;
    height: 3.5px;
    background-color: white;
    margin: 3px;
    transition: all 0.3s ease;
   
}



.line1, .line2 {
    transform: 45deg;
}



.line1, .line2, .line3 {
  background-color: white;
}




/* navbar media */




@media screen and (max-width: 1024px){
   .links{
    width: 60%;
   }
   .burger {
  display: hidden;
  }
}


@media screen and (max-width: 768px){
  body{
    overflow-x: hidden ;
  }
   .links{
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%); 
    transition: transform 0.5s ease-in;
    background: black;
    border-radius: 7px;
    opacity: 0.9;
   }

   .links li{
    opacity:0;
   }
   
   .burger{
    display: block;
    cursor: pointer;
    
   }

   @keyframes navLinkFade{
    from {
      opacity: 0 ;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
     }
    }

 
    
}


.nav-active{
  transform: translateX(0%);
  
}







  .toggle .line1{
     transform: rotate(-45deg) translate(-5px,6px);
  }

  .toggle .line2{
    opacity: 0;
  }

  .toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
  }


  footer{
    display: flex;
    justify-content: center;
    align-items: center;
  }




  /* John smilga css */

 
/* :root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(205, 86%, 17%);
  --clr-primary-2: hsl(205, 77%, 27%);
  --clr-primary-3: hsl(205, 72%, 37%);
  --clr-primary-4: hsl(205, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #49a6e9;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(205, 89%, 70%);
  --clr-primary-7: hsl(205, 90%, 76%);
  --clr-primary-8: hsl(205, 86%, 81%);
  --clr-primary-9: hsl(205, 90%, 88%);
  --clr-primary-10: hsl(205, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Open Sans", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}  */

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
  border: 2px solid white;
  border-radius: 8px;
}

h1,
h2,
h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    /* font-size: 1rem; */
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
  
}

.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
=============== 
About
===============
*/
.title {
  text-align: center;
  margin-bottom: 4rem;
}
.title p {
  width: 80%;
  margin: 0 auto;
}

.about-img {
  margin-bottom: 2rem;
}
.about-img img {
  border-radius: var(--radius);
  object-fit: cover;
  height: 20rem;
}
@media screen and (min-width: 992px) {
  .about-img {
    margin-bottom: 0;
  }

  .about-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
.about, .about-img {
  background: var(--clr-white);
  border-radius: var(--radius);
  display: grid;
  grid-template-rows: auto 1fr;
  border: 2px solid white;
  border-radius: 8px;
}
.btn-container, .btn-container2  {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 2px solid white;
  border-radius: 8px; */
}

.tab-btn:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.tab-btn:nth-child(3) {
  border-top-right-radius: var(--radius);
}

.tab-btn2:nth-child(1) {
  border-top-left-radius: var(--radius);
}

.tab-btn2:nth-child(3) {
  border-top-right-radius: var(--radius);
}

.tab-btn, .tab-btn2 {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);
  border: 2px solid white;
  border-radius: 8px;
}

.tab-btn:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}

.tab-btn2:hover:not(.active) {
  background: var(--clr-primary-10);
  color: var(--clr-primary-5);
}


.about-content, .imggal {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  padding: 2rem 1.5rem;
}




/* hide content */
.content, .photo-container {
  display: none;
}
.tab-btn.active {
  background: var(--clr-white);
}

.tab-btn2.active {
  background: var(--clr-white);
}
.content.active {
  display: block;
}

.photo-container.active {
  display: block;
}

#top {
  padding: 1rem 0;
  border: none;
  text-transform: capitalize;
  font-size: 1rem;
  display: block;
  background: var(--clr-grey-9);
  cursor: pointer;
  transition: var(--transition);
  letter-spacing: var(--spacing);

  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}

/* calculator */


.calc-container {
    width: 350px;
    margin: 10vh auto 0 auto;
    border: 1px solid #999;

}

#display{
  text-align: right;
  max-width: 100%;
  height: 100px;
  padding: 16px 8px;
  font-size: 25px;
  color: white;
  background-color: black;
}

.buttons {
  display: grid;
  border-bottom: 1px solid whitesmoke;
  border-left: 1px solid whitesmoke;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}

.buttons > div {
  border-top: 1px solid whitesmoke;
  border-right: 1px solid whitesmoke;
}

.calc-btn {
  border: 1px solid whitesmoke;
  text-align: center;
  font-size: 70px;
  cursor: pointer;
}

.calc-btn:hover {
  background-color: white;
  color: black;
}

#equal {
background-color: blue;
}


/* Blackjack css */

.card-containerp {
  display:flex ;
}


.player-container1, .player-container2, .card-containerD {
  

}

/* Expense Tracker*/

.grid {

  display: grid;
  grid-template-columns:  1fr 1fr 1fr  ;
  
 

}



.span1, .span2, .span3 {
grid-column: span 1;
}



h4, h6 {
  border: 2px solid white;
  padding: 20px;
}

h1, h2, h3  {
  padding: 20px ;
}

table, td {
  border: 1px solid white;
  
}

td {
  width: 200px;
}

tr {
  width: 100px;
}

#my-Table {
  
}




/* note tracker */

.note-container {
  border: 2px solid white;
}


.note {

  
  border: 2px solid white;
  width: 300px;
  height: 175px;
  margin: 10px;
}




.notes{

display: grid;
grid-template-columns:  1fr 1fr 1fr  ;
grid-row: 3/-1;
border: 2px solid white;


}

.overlay {
  
  border-radius: 10px;
  width: 25%;
  height: 25%;
  background-color: black;
  position: fixed;
  top:0;
  left:0;
  bottom: 0;
  cursor: pointer;
  z-index: 2;
  transition: ease-in 0.5s;
  opacity: 0.9;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 1.5rem;

}

.closeBtn {
  float: right;
}